<div style="height: 100vh;" class="d-flex align-items-center mt-5 w-100 flex-column">
  <div class="border shadow rounded w-50 ">
    <h1 style="color: coral;" class="text-center"><i class="fa-solid fa-book fa-bounce me-2"></i>To Do List</h1>
   <form  class="d-flex justify-content-center mb-5 mt-3">
      <input [(ngModel)]="tasks" name="task" class=" form-control w-50" type="text" placeholder="Enter your task here..">
      <button (click)="handleAdd()" class="btn btn-warning ms-3">Add</button>
   </form>
  </div>
 

  <div *ngIf="allTasks.length>0"  class="mb-5 w-50 mt-5">
    <h3 class="text-center mt-3">Your tasks</h3>
    <div *ngFor="let item of allTasks; let i=index" class="d-flex align-items-center p-3 shadow rounded justify-content-between mb-3 border border-warning">
      <h6>{{item}}</h6>
      <div>
        <!-- Button trigger modal -->
        <button (click)="openModal(item, i)" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <i class="fa-solid fa-pen-to-square text-primary"></i>
        </button>
        <button (click)="handleRemove(i)"  class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
      </div> 
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Your Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" name="task" class="form-control" [(ngModel)]="editTask">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="saveEdit()" type="button" class="btn btn-primary"
        data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>